html {
	height: 100%;
	background: -webkit-linear-gradient(#4caf50, #c8e6c9) fixed;
	background: -o-linear-gradient(#4caf50, #c8e6c9) fixed; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#4caf50, #c8e6c9) fixed; /* For Firefox 3.6 to 15 */
	background: linear-gradient(#4caf50, #c8e6c9) fixed; /* Standard syntax */ 

    background-repeat: no-repeat;
}

p {
	color: white;
	text-align: center;
}

h1 {
	font-size: 100px;
	color: white;
	text-align: center;
}

h2 {
	margin-top: 150px;
	color: white;
	font-size: 60px !important;
}

footer {
	position: fixed;
	text-align: right;
	width: 25%;
	bottom: 0px;
	font-size: 12px;
}

.comment {
	margin-left: 75px;
	margin-right: 75px;
}

.counter {
	margin-top: 10px;
	margin-right: 15px;
	font-size: 15px;
}

.modal-content, .modal-footer {
	background: #212121;
	background-image: linear-gradient(#212121, #424242);
	background: -o-linear-gradient(#212121, #424242); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#212121, #424242); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#212121, #424242); /* Standard syntax */
	color: #e0e0e0;
}

.input-field label {
	color: #bdbdbd; 
	font-size: 17px;
}

.input-field input[type=number]:focus + label {
	color: white;
}

.input-field input[type=number]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

.input-field input[type=number].valid {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
}
   
.input-field input[type=number].invalid {
	border-bottom: 1px solid #e53935;
	box-shadow: 0 1px 0 0 #e539350;
}

.input-field input[type=text]:focus + label {
	color: white;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

.input-field input[type=text].valid {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
}
   
.input-field input[type=text].invalid {
	border-bottom: 1px solid #e53935;
	box-shadow: 0 1px 0 0 #e539350;
}

.input-field .prefix.active {
	color: white;
}
